<h1 mat-dialog-title style="text-align:center;">Weather - Signup</h1>

<div mat-dialog-content style="display:flex; flex-direction:column">

  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]='username' type="text" cdkFocusInitial>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Full Name</mat-label>
    <input matInput [(ngModel)]='fullname' type="text">
  </mat-form-field>

  <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]='password' type="password">
    </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-button (click)='signupUser()'>Signup</button>
  <button mat-button (click)='dialogRef.close()'>Cancel</button>
</div>
