.current-weather-card{
    width: 250px;
    height: 150px;

    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.weather-information{
    margin-top: 10px;
    margin-bottom: 0;
}