<app-toolbar></app-toolbar>

<div class="container">

    <app-search class="full-width" (cityToGet)='getNewCity($event)'></app-search>
    
    <app-forecast class='forecast' [forecastData]='forecastData' *ngIf='forecastData'></app-forecast>

    <h2 style="width: 1000px; margin-top: 30px;">Most popular destinations</h2>
    <div class="most-searched-cities">
            <app-current-weather-card *ngFor='let cityObj of mostSearchedPlaces | keyvalue' [weatherData]='cityObj'></app-current-weather-card>
    </div>

    <h2 style="width: 1000px; margin-top: 30px;" *ngIf='lastSearchedDestinations'>Last searched destinations</h2>
    <div class="last-searched-destinations" *ngIf='lastSearchedDestinations'>
            <app-current-weather-card *ngFor='let cityObj of lastSearchedDestinations | keyvalue' [weatherData]='cityObj'></app-current-weather-card>
    </div>
</div>