.container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.most-searched-cities{
    width: 1000px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    margin-bottom: 10px;
}

.last-searched-destinations{
  width: 1000px;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  margin-bottom: 10px;
}

.forecast{
    animation-duration: 1.5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: inherit;
      width: 1000px;
    }
  }